body {
  background: #444;
  color: #eee;
  font-size: 22px;
  font-family: serif;
}

span#letters-history {
  letter-spacing: 5px;
}

#hidden-input,
#hidden-input:focus {
  background: transparent;
  border: none;
  outline: none;
  color: transparent;
}
